.about-us-wrapper {
  padding: 250px 0 40px;

  .about-us-image {
    max-width: 400px;
    width: 100%;
  }

  .about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 30px;

    #more-text {
      display: none;
    }
    .read-more-button {
      background-color: transparent;

      #read-more-icon-up {
        display: none;
      }
    }
  }
}
