body {
  font-family: "Jura", sans-serif;

  .title {
    @include title;
  }

  .section-title {
    @include title;
    padding: 40px 0;
    text-align: center;
    margin: 0;
  }

  .button {
    @include button;
  }

  //swiper styles
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $pink;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    color: $black3;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: unset;
  }
}
