body {
  font-family: "Jura", sans-serif;

  .title {
    @include title;
  }

  .section-title {
    @include title;
    padding: 40px 0;
    text-align: center;
    margin: 0;
  }

  .button {
    @include button;
  }
}
