.latest-news {
  min-height: 1400px;

  .news-card {
    position: relative;
    overflow: hidden;
    border: 1px solid $pink;
    border-radius: 4px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    height: 100%;

    .title {
      font-size: 45px;
      line-height: 45px;
      letter-spacing: 0.02em;
    }

    &:hover {
      .top-layer {
        opacity: 1;
      }

      .inner-news-card-wrapper {
        opacity: 0;
      }
    }

    .inner-news-card-wrapper {
      max-width: 327px;
      width: 100%;
      -moz-transition: all 0.4s ease-in-out 0s;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;

      img {
        width: 100%;
      }

      .date {
        font-family: "Jura", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        color: pink;
        margin: 0;
      }
    }

    .top-layer {
      @include topLayer;
    }
  }
}
