.show-case-wrapper {
  background-image: url("../../assets/showCase/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  position: relative;
  min-height: 590px;

  .green-leave {
    position: absolute;
    right: 0;
    top: 0;
  }

  .flower {
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
  }

  .title-wrapper {
    align-self: center;
  }

  .title {
    color: $white;
  }

  .show-swiper-container {
    overflow: hidden;
    position: relative;
    height: 510px;
  }
  .single-show-case {
    height: 90%;

    .title {
      font-size: 45px;
      line-height: 45px;
      letter-spacing: 0.02em;
    }

    .image,
    .description {
      align-self: flex-end;
    }

    .description {
      color: $white;
      font-weight: 300;
      font-size: 22px;
      line-height: 31px;
    }
  }

  //swiper styles
  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet {
    color: $white;
    background-color: transparent;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 92.5%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    top: 95%;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    color: $white;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 60%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 30%;
  }
}
